{:deps {org.clojure/data.xml {:mvn/version "0.2.0-alpha9"}}
 :tasks {import-archive {:doc "Import the Medium and WordPress archives and localize available images"
                         :task (load-file "scripts/import-archive.bb")}}}
